@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-SemiBold.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-SemiBoldItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("./fonts/NunitoSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-SemiBold.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-SemiBoldItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
/* 
body {
  margin-left: 400px !important;
  width: calc(100% - 400px) !important;
  position: absolute !important;
  cursor: pointer !important;
} */

#bellyButtonSidebar {
  font-size: 16px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 300 !important;
  /* float: left !important; */
  display: inline-block !important;
  width: 397px !important;
  height: 100vh !important;
  overflow-y: auto !important;
  background-color: papayawhip !important;
  position: fixed !important;
  left: 0px !important;
  top: 0px !important;
  cursor: default !important;
  z-index: 2000000020 !important;
  padding: 1rem !important;
  border-radius: 0px 20px 20px 0px !important;
  box-shadow: rgb(0, 0, 0) 0px 0px 22px -6px !important;
  color: black !important;
  /* border-right: 3px solid papayawhip !important; */
}

#bellyButtonSidebarHeader {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

#bellyButtonSidebarTitle {
  font-size: 1.25rem !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: bold !important;
}

#bellyButtonSidebar::-webkit-scrollbar {
  width: 1em !important;
  display: none !important;
}

#bellyButtonSidebarClose {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 44px !important;
  height: 44px !important;
  background: none !important;
  outline: none !important;
  border: none !important;
  cursor: pointer !important;
}

#bellyButtonSidebarMain {
  padding: 2rem 0 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

#bellyButtonSidebarMain h2 {
  font-size: 3.5rem !important;
  display: block !important;
  vertical-align: middle !important;
  line-height: 1.15 !important;
  font-weight: bold !important;
  margin: 0 !important;
}

#bellyButtonWithinText {
  background-color: mediumseagreen !important;
  border-radius: 10px !important;
  font-size: 1rem !important;
  font-weight: bold !important;
  width: 150px !important;
  height: 50px !important;
  vertical-align: middle !important;
  box-shadow: 2.2px 2.2px 3.6px rgba(0, 0, 0, 0.024),
    6px 6px 10px rgba(0, 0, 0, 0.035), 14.5px 14.5px 24.1px rgba(0, 0, 0, 0.046),
    48px 48px 80px rgba(0, 0, 0, 0.07) !important;
  border: none !important;
  outline: none !important;
}

#bellyButtonSidebarList {
  display: flex !important;
  flex-direction: column !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  gap: 2rem !important;
  padding: 2rem !important;
  list-style-type: decimal !important;
}

#bellyButtonSidebarList li p {
  font-size: 1rem !important;
  font-weight: normal !important;
  padding: 0.5rem 0rem 1rem 0rem !important;
  margin: 0 !important;
  line-height: 1.5 !important;
}

#bellyButtonSidebarList li a {
  font-size: 1rem !important;
  font-weight: normal !important;
  padding-top: 0.5rem !important;
  line-height: 1.5 !important;
  color: mediumseagreen !important;
  text-decoration: underline !important;
}

#bellyButtonSidebarList li div {
  font-size: 1rem !important;
  font-weight: normal !important;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
  background-color: rgb(43, 43, 43) !important;
  padding: 1rem !important;
  color: whitesmoke !important;
  border-radius: 10px !important;
  text-align: left !important;
  word-spacing: normal !important;
  word-break: normal !important;
  overflow-wrap: normal !important;
  line-height: 1.5 !important;
  tab-size: 4 !important;
  hyphens: none !important;
}

.code-title {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
}

.bad-button {
  color: black !important;
  width: auto !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0 !important;
  background: #efefef !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 0.75rem !important;
  border: none !important;
  outline: none !important;
}

.good-button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 0.9rem !important;
  background-color: lightsalmon !important;
  color: black !important;
  font-weight: bold !important;
  padding: 0.5rem 1rem !important;
  min-width: 100px !important;
  min-height: 50px !important;
  border-radius: 10px !important;
  border: none !important;
  outline: none !important;
}

.slide-right {
  -webkit-animation: slide-right 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  /* transition-property: opacity;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
